* {
    font-family: "work sans";
}

body {
    margin: 0;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

p {
    color: #737372;
}

.banner {
    background-color: #fff2e7;

}

.banner li,
a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.banner a:hover {
    color: #ff900e;
}

.banner nav ul {
    list-style: none;
}

#top-heading {
    /* border: 2px solid black; */
    padding: 15px 20px;
    margin: 30px;
    text-align: left;
}

nav {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 20px 60px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.banner-overview {
    /* border: 2px solid black; */
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

.banner-overview-description {
    text-align: center;
}

.banner-overview-btn {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#btn-explore-more {
    padding: 10px 20px;
    border: none;
    background-color: #ff900e;
    color: white;
    border-radius: 10px;
    transition: 0.4s ease;
}

#btn-explore-more:hover {
    background-color: #cc720b;
    scale: 1.1;
}

.banner-image {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}

.banner-img {
    padding: 20px;
    width: 80%;
    margin-bottom: 30px;
    border-radius: 15px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-overview {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 80%;

}

.img-container {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
    /* padding: 30px; */
}

.feature-list-container {
    /* border: 2px solid black; */
    padding-right: 30px;
    /* padding: 30px; */
    margin: 20px;
}

.quick-list {
    color: #414141;
    font-weight: 500;
}

/* responsive media query */

@media screen and (max-width: 576px) {

    nav,
    ul {
        flex-direction: column;
    }

    .img-container,
    .feature-overview {
        /* border: 2px solid black; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {

    .img-container {
        /* border: 2px solid black; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        margin: 30px;
    }

    .feature-overview {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.feature-description {
    /* border: 2px solid black; */
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 50px;
}

.feature-headline{
    border-left: 5px solid #ff9d2d;
    padding-left: 20px;
}

.feature-image {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.feature-text {
    /* border: 2px solid black; */
    /* padding: 20px; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-card-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.feature-card{
    /* border: 2px solid black; */
    border-radius: 15px;
    box-shadow: 3px 3px 5px gray;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0 20px;
}

.image {
    width: 500px;
}