* {
    font-family: "work sans";
}

body {
    margin: 0;
}

.banner {
    background-color: #fff2e7;

}

.banner li,
a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.banner a:hover {
    color: #ff900e;
}

.banner nav ul {
    list-style: none;
}

#top-heading {
    /* border: 2px solid black; */
    padding: 15px 20px;
    text-align: left;
}

nav {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
}

ul {
    padding: 20px 60px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.banner-overview {
    /* border: 2px solid black; */
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

.banner-overview-description {
    text-align: center;
}

.banner-overview-btn {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#btn-explore-more {
    padding: 10px 20px;
    border: none;
    background-color: #ff900e;
    color: white;
    border-radius: 10px;
    transition: 0.4s ease;
}

#btn-explore-more:hover {
    background-color: #cc720b;
    scale: 1.1;
}

.banner-image {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}

.banner-img {
    padding: 20px;
    width: 70%;
    border-radius: 15px;
}

.feature-overview {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.img-container {
    /* border: 2px solid black; */
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    scale: 0.7;
    margin-left: 80px;
}

.feature-list-container {
    /* border: 2px solid black; */
    padding-right: 30px;
    padding: 10px 40px 10px 10px;
    margin-right: 70px;
}

.quick-list {
    color: #414141;
    font-weight: 500;
}

/* responsive media query */

@media screen and (max-width: 576px) {

    nav,
    ul {
        flex-direction: column;
    }
}