* {
    font-family: "work sans";
}

body {
    margin: 0;
}

.landing {
    background-color: #fff2e7;

}

.landing li,
a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.landing a:hover {
    color: #ff900e;
}

.landing nav ul {
    list-style: none;
}

#top-heading {
    /* border: 2px solid black; */
    padding: 15px 20px;
    text-align: left;
}

nav {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
}

ul {
    padding: 20px 60px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.landing-overview {
    /* border: 2px solid black; */
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

.landing-overview-description {
    text-align: center;
}

.landing-overview-btn {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#btn-explore-more {
    padding: 10px 20px;
    border: none;
    background-color: #ff900e;
    color: white;
    border-radius: 10px;
    transition: 0.4s ease;
}

#btn-explore-more:hover {
    background-color: #cc720b;
    scale: 1.1;
}

.landing-image{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}

.banner-img{
    padding: 20px;
    width: 70%;
    border-radius: 15px;
}